*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: #dae1dd;
}
.navigation{
    position: fixed;
    width: 60px;
    height: 100%;
    background: #887ba6;
    transition: 0.5s ease;
    overflow: hidden;
    
}
.navigation:hover,
.navigation.active{
    width: 300px;
}
.navigation ul{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
}
.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
}
.navigation ul li:hover{
    background: #ea136d;
}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.navigation ul li a .icon fa{
    font-size: 30px;
}
.navigation ul li .icon svg{
    width:1.2rem;
    min-width: 20px;
    line-height: 60px;
 
}

.navigation ul li a .title{

position: relative;
display: block;
padding: 0 10px;
height: 60px;
line-height: 60px;
text-align: start;
white-space: nowrap;
}
.toggle{
    position: absolute;
    top:0;
    right:0;
    width: 60px;
    height:60px;
    background:#330747 ;
    cursor: pointer;
}
.toggle:active{
    background:#ea136d ;
}
.toggle:before{
    content: '\f0c9';
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 55px;
    font-size: 24px;
    color: #fff;
}

.toggle:active:before{
    content: '\f00d';
}

@media (max-width:767px)
{
    .navigation{
        left:-60px;
    }
    .navigation.active{
        left:0px;
        width:100%
    }
}